      <div class="jumbotron text-center">
      	<h1 ng-bind="ctrl.title"></h1>
      </div>
	<nav class="navbar navbar-inverse">
		<div class="container">
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="#home">Accueil</a></li>
				<li><a href="#info">Info</a></li>
				<li><a href="#menu_list">Menus</a></li>
				<li><a href="#carte">Carte</a></li>
				<!-- à enlever par la suite -->
				<li><a href="#pizza_list">Pizzas</a></li>
				<li><a href="#boissons">Boissons</a></li>
				<li><a href="#desserts">Desserts</a></li>
				<!-- Jusqu'ici :) -->
				<li><a href="#panier">Panier</a></li>
				<li><a href="#connexion" ng-hide="ctrl.connected()">Connexion</a></li>
				<li><a href="#inscription" ng-hide="ctrl.connected()">Inscription</a></li>
				<li><a ng-click="ctrl.logout()" ng-show="ctrl.connected()" href="">Deconnexion</a></li>
			</ul>
		</div><!--/.nav-collapse -->
		</div>
	</nav>