      <div class="jumbotron text-center">
      	<h1>Pizza Web</h1>     
      </div>
	  <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="#home">Accueil</a></li>
              <li><a href="#info">Informations</a></li>
              <li><a href="#info" ng-hide= >Connection</a></li>
              <li><a href="#info" ng-hide= >Inscription</a></li>
              <li><a href="#info" ng-show= >Deconnection</a></li>
            </ul>
          </div>
        </div>
      </nav>