<!--
	Usage de la syntaxe 'controller as' dans la déclaration de la route dans products.js
 -->
<h2> {{ctrl.title}}</h2>

<!--<br>
<p>
<img src="https://cdn-catalog.pizzahut.fr/images/fr/20141201165922296.jpg" alt="photo pizza"/>
<br>
pizza reine
<br>
sauce tomate, mozza, jambon, champignons</p>-->


<div id="ng-app" ng-app ng-controller="details_pizzaCtrl">

	<h3>Pizza {{ctrl.pizza.nom}} :</h3>
	<ul>
		<div ng-repeat="i in ctrl.pizza.ingredients">
			<li>{{i}}</li>
		</div>
	</ul>
	<img ng-src="{{ctrl.pizza.img}}" alt="photo pizza" />
</div>