<h1>{{ctrl.title}}</h1>
<h2>Retrait Commande</h2>

<form name="ctrl.orderForm">
		
		

		<label class="radio-inline">
			<input type="radio" ng-model="ctrl.type" value="A_EMPORTER">  A emporter
		</label>
		<label class="radio-inline">
  			<input type="radio" ng-model="ctrl.type" value="SUR_PLACE"> Sur place
		</label>
		<label class="radio-inline">
  			<input type="radio"  ng-model="ctrl.type" value="EN_LIVRAISON"> En livraison 
  		</label>
		<textarea class="form-control" rows="3"></textarea>

		<br> <br>
		<div class="text-right">
		<button type="submit" class="btn btn-primary" ng-click="ctrl.saveForm()">Choisir</button>
		</div>
		<br> <br>
</form>