<h2 class="text-center">{{ctrl.title}}</h2>

<div class="row">

	<form name="ctrl.boissonForm">
		
		<div class="form-group col-md-3" ng-repeat="boisson in ctrl.boissons track by $index">
			<div class="thumbnail" ng-click="ctrl.selectBoisson(boisson)" ng-class="ctrl.getBoissonClass(boisson)">

				<img ng-if="boisson.image && boisson.image.trim() != ''"class="resize-list" ng-src="{{ctrl.configService.IMG_BOISSON_URL}}{{boisson.image}}" alt="Image de la boisson {{boisson.nom}}" />

				<img ng-if="!boisson.image || boisson.image.trim() == ''"class="resize-list" ng-src="{{ctrl.configService.IMG_PIZZA_URL_Default}}" alt="Image par défaut" />

				<div class="caption">
					<h3 class="text-center">{{boisson.nom}} {{ boisson.prix }} €</h3>
				</div>
				
			</div>
			
		</div>
	</form>
</div>
<button class="btn btn-primary btn-lg btn-block" type="submit" ng-click="ctrl.saveForm()">Choisir</button>
