<h2>{{ctrl.title}}</h2>

<form name="ctrl.cardForm">
	<h3>Liste des desserts</h3>
	<!-- <div ng-repeat="dessert in ctrl.desserts track by $index">
		<input type="radio" ng-model="ctrl.dessert" value="{{dessert}}">{{dessert.nom}} {{ dessert.prix }}€
	</div>
	<h3>Liste des boissons</h3>
	<div ng-repeat="boisson in ctrl.boissons track by $index">
		<input type="radio" ng-model="ctrl.boisson" value="{{boisson}}">{{boisson.nom}} {{ boisson.prix }}€
	</div>
	<button type="submit" ng-click="ctrl.saveForm()">Choisir</button> -->
</form>