<!--
	Usage de la syntaxe 'controller as' dans la déclaration de la route dans products.js
 -->
<h2> {{ctrl.title}}</h2>


<div>
	<h3>Pizza {{ctrl.pizza.nom}} :</h3>
	<ul>
		<div ng-repeat="i in ctrl.pizza.ingredients">
			<li>{{i.nom}}</li>
		</div>
	</ul>
	<p>Prix : {{ctrl.pizza.prix}} €</p>
	<img ng-src="{{ctrl.url}}{{ctrl.pizza.image}}" alt="erreur photo pizza" />

</div>

<button class="btn btn-primary btn-lg btn-block" type="submit" ng-click="ctrl.saveForm()">ajouter à la commande</button>
