<h1>{{ctrl.title}}</h1>
<div ng-repeat="pizza in ctrl.pizzas track by $index">	
	<a ng-href="#details_pizza?id={{pizza.id}}">
	<object class="resize-pizza" data="/template/IMG_PIZZA/{{pizza.image}}" type="image/png"> 
    	<img class="resize-pizza" src="/template/IMG_PIZZA/4saisons.jpg" alt="PIZZA {{pizza.nom}}"/> <!-- default image -->
    </object>
    </a>
</div>

<!--
<img class="resize-pizza" src="http://dtaformation.github.io/pizzeria-web-image-nov-2015/PIZZA/4saisons.jpg" alt="PIZZA {{pizza.nom}}"/>
<img class="resize-pizza" src="{{IMG_PIZZA_URL}}4saisons.jpg" alt="PIZZA {{pizza.nom}}"/>
	-->