<h1>{{ctrl.title}}</h1>
	
<div>
	<table>
		<tbody>
			<tr ng-repeat="pizza in ctrl.pizzas "> <!-- | inSlicesOf:3 -->
	<!-- 
				<button type="submit" ng-click="ctrl.redirect({{pizza.id}})">Choisir</button>

	-->
				<td><a ng-href="details_pizza?pizza={{pizza.id}}">{{pizza.nom}} {{pizza.id}} TEST</a></td> <br>

				<!-- <link rel="stylesheet" data-ng-href="{{pizza.id}}" href="details_pizza">TEST</link> -->
				<!-- tentative de lien via href-->
				<!-- <td class="" ng-repeat="item in pizza">
					<a href="details_pizza?pizza={{item.id}}"><img ng-src="{{item.img}}"></a> // lien par image
				</td>-->
			</tr>
		</tbody>		
	</table>		
</div>