<h2>{{ctrl.title}}</h2>

<div class="row"> 

	<div class="col-xs-6">
		<h3>Hoiraires :</h3>
		<table class="table table-striped">

			<thead>
				<tr>
					<th>Jour</th>
					<th>midi</th>
					<th>soir</th>			 		
				</tr>			 		
			</thead>

			<tbody>
				<tr>
					<td>Lundi : </td>
					<td>10:30 - 13:00</td>
					<td>18:00 - 23:00</td>
				</tr>
				<tr>
					<td>Mardi : </td>
					<td>10:30 - 13:00</td>
					<td>18:00 - 23:00</td>
				</tr>
				<tr>
					<td>Mercredi : </td>
					<td>10:30 - 13:00</td>
					<td>18:00 - 23:00</td>
				</tr>
				<tr>
					<td>jeudi : </td>
					<td>10:30 - 13:00</td>
					<td>18:00 - 23:00</td>
				</tr>
				<tr>
					<td>Vendredi : </td>
					<td>10:30 - 13:00</td>
					<td>18:00 - 23:00</td>
				</tr>
				<tr>
					<td>Samedi : </td>
					<td>10:30 - 13:00</td>
					<td>18:00 - 23:00</td>
				</tr>
				<tr>
					<td>Dimanche : </td>
					<td>10:30 - 13:00</td>
					<td>18:00 - 23:00</td>
				</tr>
			</tbody>

		</table>


		<h4>Telephone : 08 09 10 11 12 </h4>
		<h4>Mail : pizzacool@trop.cool</h4>
		<form method="post" action="mailto:pizzacool@trop.cool">
			<input class="btn btn-primary" type="submit" value="Envoyer E-mail">
		</form>

	</div>
	<div class="col-xs-6">
		<h4>Adresse : 10, rue des pizzas cool, Coolcity</h4>

		<body ng-controller="infoCtrl as vm">
			<ng-map center="47.230532, -1.629244" zoom="13" mayTypeId="TERRAIN">
			<marker position="47.230532, -1.629244" title="Pizza cool!"></marker>
		</ng-map>
	</body>
	</div>
</div>