<h1>{{ctrl.title}}</h1>
<h2>Produits</h2>
<table class="table table-striped">
<thead>
	<tr>
		<th>Id</th>
		<th>Nom</th>
		<th>Prix</th>
		<th>Type</th>
		<th>Taille</th>
		<th>Format</th>
		<th>Ajouter/Supprimer</th>		 		
	</tr>			 		
</thead>

<tbody>
	<tr ng-repeat="product in ctrl.datas track by $index">
		<td>{{product.id}}</td>
		<td>{{product.type}}</td>	
		<td>{{product.nom}}</td>
		<td>{{product.prix}}€</td>		
		<td>{{product.taille}}</td>
		<td>{{product.format}}</td>
		<td>
		<button type="button" class="btn btn-default  btn-xs">-</button>
		{{product.nombre}}
		<button type="button" class="btn btn-default  btn-xs">+</button>			
		</td>
		
		
	</tr>
</tbody>
</table>

<h2>Menu</h2>
<table class="table table-striped">
<thead>
	<tr>
		<th>Id</th>
		<th>Nom</th>
		<th>Prix</th>
		<th>Ajouter/Supprimer</th>		 		
	</tr>			 		
</thead>

<tbody>
	<tr ng-repeat="menu in ctrl.menu track by $index">
		<td>{{menu.id}}</td>
		<td>{{menu.nom}}</td>	
		<td>{{menu.prix}}€</td>
		<td>
		<button type="button" class="btn btn-primary btn-xs">-</button>
		
		<button type="button" class="btn btn-primary btn-xs">+</button>			
		</td>	
		
	</tr>
</tbody>
</table>

<button ng-click="save()">Save</button>
<button ng-click="load()">Load</button>
        <br>
        {{data[1]}}   

