<h1>{{ctrl.title}}</h1>
<h2 class="bg-info" >Produits</h2>
<table class="table table-striped">
<thead>
	<tr>
		<th class="text-center">Id</th>
		<th class="text-center">Nom</th>
		<th class="text-center">Prix</th>
		<th class="text-center">Type</th>
		<th class="text-center">Taille</th>
		<th class="text-center">Format</th>
		<th class="text-center">Ajouter/Supprimer</th>		 		
	</tr>			 		
</thead>

<tbody>
	<tr ng-repeat="product in ctrl.datauni track by $index">
		<td class="text-center">{{product.id}}</td>
		<td class="text-center">{{product.nom}}</td>	
		<td class="text-center">{{product.prix}}€</td>
		<td class="text-center">{{product.type}}</td>		
		<td class="text-center">{{product.taille}}</td>
		<td class="text-center">{{product.format}}</td>
		<td class="text-center">
		<button type="button" class="btn btn-default  btn-xs" ng-click="ctrl.supp(product.id)" >-</button>
		{{product.nombre}}
		<button type="button" class="btn btn-default  btn-xs" ng-model="ctrl.product" ng-click="ctrl.add(product.id)">+</button>			
		</td>
		
		
	</tr>
</tbody>
</table>

<h2 class="bg-info">Menu</h2>
<table class="table table-striped">
<thead>
	<tr>
		<th class="text-center">Id</th>
		<th class="text-center">Nom</th>
		<th class="text-center">Prix</th>
		<th class="text-center">Supprimer</th>		 		
	</tr>			 		
</thead>

<tbody>
	<tr ng-repeat="menu in ctrl.dataMenu track by $index">
		<td class="text-center">{{menu.id}}</td>
		<td class="text-center">{{menu.nom}}</td>	
		<td class="text-center">{{menu.prix}}€</td>
		<td class="text-center">
		<button type="button" class="btn btn-primary btn-xs" ng-click="ctrl.supprimerMenu(menu)">Supprimer</button>	
					
		</td>	
		
	</tr>
</tbody>
</table>
<br> <br> 
<div class="text-right">
	<p><strong>Total commande</strong></p>
	<P>{{ctrl.total()}}€</p>	
<button type="button" class="btn btn-warning  btn-lg" ng-model="ctrl.product" ng-click="ctrl.save()" ng-hide="ctrl.hideCommand()">Commander</button>
</div>
<br> <br> 


